.jumbotron {
    position: relative;
    background-size: cover;
    background-color: transparent;
    color: white;
}

svg {
    width: 100vw;
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    margin-left: -2rem;
    bottom: 0;
}