// TODO: This probably should not use min-aspect-ratio
.navbar-brand {
    img {
        width: 150px;
    }
}

#mainnav {
    .input-group {
        .form-control {
            background-color: transparent;
            color: white;
            &::placeholder {
                color: white;
            }
            &:focus {
                background-color: transparent;
            }
        }
    }
}