.navbar-brand {
    img {
        width: 150px;
    }
    color: $primary;
}

#mainnav {
    .input-group {
        .form-control {
            background-color: transparent;
            color: white;
            transition: background-color 250ms ease;
            -moz-transition: background-color 250ms ease;
            -webkit-transition: background-color 250ms ease;
            -o-transition: background-color 250ms ease;
            -ms-transition: background-color 250ms ease;
            &::placeholder {
                color: white;
            }
            &:focus {
                background-color: rgba($white, .25);
            }
        }
    }
}

#subnav {
    background-color: transparent;
}

// .dropdown {
//     .dropdown-menu {
//         display: block;
//         opacity: 0;
//         -moz-transition: all 250ms ease;
//         -webkit-transition: all 250ms ease;
//         -o-transition: all 250ms ease;
//         -ms-transition: all 250ms ease;
//         transition: all 250ms ease;
//     }
//     &:hover .dropdown-menu {
//         display: block;
//         opacity: 1;
//         background-color: rgba(255, 255, 255, 0.9);
//     }
// }