<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand d-inline-flex" href="{{ SITEURL }}/">
            <img class="img-fluid" src="{{ SITEURL }}/{{ SITELOGO }}" alt="ordercloud logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbars" aria-expanded="false"
                aria-label="Toggle navigation"
                aria-controls="mainnav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse navbars" id="mainnav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Releases</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <div class="navbar-collapse collapse navbars" id="subnav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="GuidesDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Guides
                    </a>
                    <div class="dropdown-menu" aria-labelledby="GuidesDropdown">
                        <a class="dropdown-item" href="#">Platform</a>
                        <a class="dropdown-item" href="#">User</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Libraries
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Lorem Ipsum</a>
                        <a class="dropdown-item" href="#">Lorem Ipsum</a>
                        <a class="dropdown-item" href="#">Lorem Ipsum</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>