  <ul class="nav flex-column card py-4">
    <li class="nav-item dropdown">
      <a class="h3 nav-link" href="{{ SITEURL }}/{{ category.url }}">{{ category.name|replace("-", " ")|title|replace("Api", "API")|replace("Sdk", "SDK") }}</a>
      {% for article in articles|sort(attribute='subcategories') %}
        <li class="nav-item">
          
          {% if article.subcategories|count > 0 %}
            {% if loop.first %}
              <a class="h5 nav-link" href="{{ SITEURL }}/{{ article.subcategories|join(', ', attribute='url') }}">{{ article.subcategories|join(', ', attribute='shortname')|title|replace("-", " ")|replace("Angularjs", "Angular JS")|replace("Csharp", "C#/.NET")|replace("Api", "API")|replace("Authorizenet", "Authorize.Net")|replace("Shippingrates", "Shipping Rates")|replace("Http", "HTTP") }}</a>
              {% elif loop.previtem is defined and loop.previtem.subcategories != article.subcategories %}
              <a class="h5 nav-link" href="{{ SITEURL }}/{{ article.subcategories[0].url }}">{{ article.subcategories[0].shortname|replace("-", " ")|title|replace("-", " ")|replace("Angularjs", "Angular JS")|replace("Csharp", "C#/.NET")|replace("Api", "API")|replace("Authorizenet", "Authorize.Net")|replace("Shippingrates", "Shipping Rates")|replace("Http", "HTTP") }}</a>
            {% endif %}
            {% for subcategory in article.subcategories|sort %}
              <li class="nav-item">
                <a class="nav-link" href="{{ SITEURL }}/{{ article.url }}">{{ article.title|title|replace("-", " ")|replace("Angularjs", "Angular JS")|replace("Csharp", "C#/.NET")|replace("Api", "API")|replace("Authorizenet", "Authorize.Net")|replace("Shippingrates", "Shipping Rates")|replace("Http", "HTTP") }}</a>
              </li>
            {% endfor %}
            
          {% else %}
            {% if loop.first %}
              <a class="h5 nav-link" href="{{ SITEURL }}/{{ article.category.slug }}">{{ article.category.name|title|replace("-", " ")|replace("Angularjs", "Angular JS")|replace("Csharp", "C#/.NET")|replace("Api", "API")|replace("Authorizenet", "Authorize.Net")|replace("Shippingrates", "Shipping Rates")|replace("Http", "HTTP") }}</a>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ SITEURL }}/{{ article.url }}">{{ article.title|title|replace("-", " ")|replace("Angularjs", "Angular JS")|replace("Csharp", "C#/.NET")|replace("Api", "API")|replace("Authorizenet", "Authorize.Net")|replace("Shippingrates", "Shipping Rates")|replace("Http", "HTTP") }}</a>
            </li>
          {% endif %}
          
        </li>
      {% endfor %}
    </li>
  </ul>
</div>