// TODO: why can't this go in themes.scss?

// $white-50:                  alpha(#fff, .25);
// $white-50:                  alpha(#fff, .5);
// $white-75:                  alpha(#fff, .75);

.bg-trans {
    background-color: transparent !important;
}

.grid-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
}

.grid-item {
    display: contents;
}

.dropdown {
    .dropdown-menu {
        display: block;
        opacity: 0;
        -moz-transition: all 250ms ease;
        -webkit-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        transition: all 250ms ease;
    }
    &:hover .dropdown-link {
        display: block;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.9);
    }
}