//== Ordercloud Colors

$io-blue:                   #0C648E;
$ordercloud-blue:           #0090D6;
$four51-blue:               #003843;
$ragheb-red:                #9A0F00;
$coral-red:                 #fb3640;
$radically-yellow:          #FBD764;
$sunset-yellow:             #c68900;
$alien-green:               #00DF61;
$spanish-green:             #009440;
$sorbet:                    #f26964;
$curry:                     #fab44b;
$prince-lt:                 #4555AD;
$prince-nelson:             #2d3770;
$white:                     #ffffff;
$four51-ltgray:             #E4E5E6;
$four51-dkgray:             #A2A2A2;
$four51-black:              #231F20;

// Bootstrap Colors

$blue:    $io-blue;
$indigo:  $prince-nelson;
$purple:  $prince-lt;
$pink:    $sorbet;
$red:     $coral-red;
$orange:  $curry;
$yellow:  $radically-yellow;
$green:   $spanish-green;
$teal:    $alien-green;
$cyan:    $ordercloud-blue;


$ordercloudio-gradient:       linear-gradient(140deg,$ordercloud-blue 0, $io-blue 100%);
$io-gradient:                 linear-gradient(140deg,$io-blue 0, $ordercloud-blue 100%);
$tequila-sunrise-gradient:    linear-gradient(140deg,$curry 0, $sorbet 100%);
$purple-rain-gradient:        linear-gradient(140deg,$ordercloud-blue 0, $prince-nelson 100%);
$purple-rain-lt-gradient:     linear-gradient(140deg,lighten($prince-lt, 10) 0, $ordercloud-blue 100%);
$ordercloud-four51-gradient:  linear-gradient(140deg,$ordercloud-blue 0, $four51-blue 100%);
$radically-io-gradient:       linear-gradient(140deg, $sorbet 0, $prince-lt 100%);
$yellow-gradient:             linear-gradient(140deg, $curry 0, $radically-yellow 100%);

// Typography

@import url('https://cloud.typography.com/7423534/6512552/css/fonts.css');
$font-family-sans-serif:  'Gotham A', 'Gotham B', Arial, "Helvetica Neue", Helvetica, sans-serif;