{% extends "base.html" %}
{% block title %} &ndash; {{ _('Category %(name)s', name=category) }}{% endblock %}
{% set summarise = True %}
{% block content %}
  {% for article in articles %}
    <div>
      {% if loop.changed(article.tags[0]) %}
        <ul>
          {% for tag in article.tags|sort %}
            
            <li>
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>
            </li>
            
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    
  {% endfor %}
  
{% endblock %}