{% extends "index.html" %}
{% block title %}&ndash; Category: {{ category }}{% endblock %}
{% block content %}
  <div class="oc-banner-full-width oc-radically-io-bg  oc-flex-layout vertical center-center">
    <div class="container text-center">
      <i class="{{category.icon}}"></i>
      <h1>{{category.name}}</h1>
      <p class="lead">{{ category.content }}</p>
    </div>
  </div>
  <article>
    <div class="article__text">
      <ul>
        {% for article in articles %}
          
          <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          
        {% endfor %}
        
        
      </ul>
    </div>
  </article>
{% endblock %}