{% extends "index.html" %}
{% block content %}
	<div class="oc-banner-full-width oc-ordercloud-four51-bg oc-flex-layout vertical center-center">
		<div class="container text-center">
			<i class="fa fa-bolt fa-2x"></i>
			<h1>{{tag.name}}</h1>
		</div>
	</div>
	<div class="container">
		<article>
			<div class="oc-toc docs-toc">
				<div class="toc-block" ng-repeat="section in ::documentation.navSections | filter: { type: 'Frameworks and SDKs' }:true">
					<div class="row">
						<div class="col-md-20">
							<ul>
								{% for article in articles %}
									<li ng-repeat="guide in ::documentation.navResources | filter: { section: section.name }:true" ng-if="!guide.href">
										<a href="{{siteurl}}/{{article.url}}">
											<h3>{{article.title}}</h3>
											<small>{{article.summary}}</small>
										</a>
									</li>
									<hr>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	
{% endblock %}