{% extends "base.html" %}
{% block title %}
  404 Not Found?? | {{ SITENAME }}
{% endblock title %}
{% block content %}
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/theme/images/todd-diemer-110885-unsplash.jpg" alt="We cannot find what you were looking for." style="
        object-fit: auto;
        ">
        <div class="carousel-caption d-inline p-6 text-dark" style="
          position: absolute;
          top: 30%;
         
          ">
          <h2 class = "lead4">We cannot find what you were looking for.</h2>
          <p>Try again from our Search perhaps?</p>
        </div>
      </div>
      
    </div>
  </div>
{% endblock content %}