{% extends "base.html" %}
{% block title %}
  {{ category }} Articles | {{ SITENAME }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        {% include 'include/side-nav.html' %}
      <div class="col-sm-8">
        
        {% block page_header %}
          {% for page in pages if page.slug == category %}
            <h1 class = "display">
            {{page.name}}
          {% endfor %}
          </h1>
        {% endblock page_header %}
        
        {% block page_content %}
          {% for page in pages if page.slug == category %}
          <div>
            <h1>{{page.title}}</h1>
            <p class="lead">
              {{page.content}}
            </p>
          </div>
          {% endfor %}
        {% endblock page_content %}
      </div>
    </div>
    
  </div>
{% endblock content %}