{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock head %}
{% block title %}
  {{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock title %}
{% block content %}
  

    <div class="jumbotron">
      <h1 class="display-3">Explore the OrderCloud Platform!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Check Out Our Swagger Spec!</a>
      </p>
    </div>
    <div class ="container-fluid">
      <h2> Types of Documentation</h2>
      <div class="row flex-row align-items-stretch">
        {% for category, articles in categories|sort %}
          {% for page in pages if page.slug == category %}
            <div class="col-md-4 col-lg-3" >
              <div class="card bg-light mb-3" style="max-width: 20rem; min-height: 20rem;">
                
                <div class="card-header"><a href="{{ SITEURL }}/{{ category.url }}">{{page.title}}</a></div>
                <div class="card-body">
                  <h4 class="card-title">{{page.title}}</h4>
                  <p class="card-text">{{page.content}}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>

  {% endblock content %}