{% extends "base.html" %} {% block head %} {{ super() }} {% if DESCRIPTION %}
<meta name="description" content="{{ DESCRIPTION|striptags }}"> {% endif %} {% endblock head %} {% block title %} {{ SITENAME }} | {{ SITESUBTITLE }} {% endblock title %} {% block content
%}
<div class="jumbotron">

  <!-- SVG Start   -->
  <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 1920 1920" style="enable-background:new 0 0 1920 1920;" xml:space="preserve">
    <style type="text/css">
      .st0 {
        fill: url(#SVGID_1_);
      }
    </style>
    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1893.775" y1="1946.225" x2="26.225" y2="78.675" gradientTransform="matrix(-1 0 0 -1 1920 1920)">
      <stop offset="0" style="stop-color:#221F1F" />
      <stop offset="0.4743" style="stop-color:#0A658E" />
      <stop offset="1" style="stop-color:#0A658E;stop-opacity:0" />
    </linearGradient>
    <path class="st0" d="M0,1815.1l125.9,37.2c196.7,58.1,405.2,63.9,604.9,16.8l120.7-28.4c0.7-0.2,1.4-0.3,2.2-0.5
	c117.9-27.5,241.6-13.7,350.8,38.4l0,0c84.8,40.5,180.6,51.7,272.4,31.9l443.1-95.4V0H0V1815.1z" />
  </svg>
  <!-- SVG End -->

  <div class="container">
    <h1 class="display-4 text-uppercase">Explore the OrderCloud Platform</h1>
    <p class="lead">Our RESTful API provides access to OrderCloud's B2B eCommerce platform-as-a-service.</p>
    <hr class="my-4">
    <p>Dive into our API Reference docs, or download our Swagger Spec to quickly try out our endpoints.</p>
    <p class="lead">
      <a class="btn btn-primary" href="https://github.com/ordercloud-api/swagger/" role="button"><i class="fas fa-download"></i> View Swagger Spec</a>
    </p>
  </div>
</div>
<div class="container">
  <h2 class="text-muted font-weight-light"> Types of Documentation</h2>
  <hr class="my-4">
  <div class="grid-container">
    {% for category, articles in categories|sort %} {% for page in pages if page.slug == category %}
    <div class="grid-item">
      <div class="card">
        <div class="card-header">
          <a class="h5" href="{{ SITEURL }}/{{ category.url }}">
            {{page.title}}
          </a>
        </div>
        <div class="card-body">
          <p class="card-text">{{page.content}}</p>
        </div>
      </div>
    </div>
    {% endfor %} {% endfor %}
  </div>
</div>
{% endblock content %}