<div class="oc-banner-full-width oc-purple-rain-bg oc-flex-layout vertical center-center">
  <div class="container text-center">
    <i class="fa fa-map fa-2x"></i>
    <h1>Use Case Guides</h1>
    <p class="lead">Focused guides on the various OrderCloud.io Resources.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-note" role="alert">
    <h5>
      We are currently reviewing and enhancing our existing documentation.
      Some info contained in the guides below may be outdated.
      We apologize for any inconvenience, and encourage you to contact us with questions via <a ui-sref="community">Slack.</a>
    </h5>
  </div>
  <article>
    <div class="oc-toc docs-toc">
      <div class="toc-block" ng-repeat="section in ::documentation.navSections | filter: { type: 'Use Case Guides' } | orderBy: 'name' : reverse :true">
        <div class="row">
          <div class="col-md-4">
            <h2 class="toc-block-title">{{section.name}}</h2>
          </div>
          <div class="col-md-8">
            <ul>
              <li ng-repeat="guide in ::documentation.navResources | filter: { section: section.name }:true">
                <a ui-sref="use-case-guides(guide.stateLink.params)">
                  <h3>{{guide.name}}</h3>
                  <small>{{guide.summary}}</small>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>