<nav role="navigation" aria-labelledby="useCaseGuidesNavigation">
    <h2 class="sr-only" id="useCaseGuidesNavigation">Use Case Guides</h2>
    <ul class="nav navmenu-nav">
        <li class="section api-section-link"
            ng-repeat-start="section in ::documentation.navSections | filter: { type: 'Use Case Guides' }:true">
            <h3 class="navmenu-text navmenu-title">{{section.name}}</h3>
        </li>
        <div ng-repeat-end>
            <ul class="nav navmenu-nav">
                <li class="resource api-resource-link"
                    ng-repeat-start="guide in ::documentation.navResources | filter: { section: section.name }:true"
                    ng-class="{'active': documentation.activeGuide == guide.stateLink.params.guideID && documentation.activeSection == guide.stateLink.params.sectionID}">
                    <a ng-click="documentation.scroll(section.activeSection, guide.stateLink.params.guideID, null)">
                        {{guide.name}}</a>
                </li>
                <div ng-repeat-end
                     ng-if="documentation.activeGuide == guide.stateLink.params.guideID && documentation.activeSection == guide.stateLink.params.sectionID">
                    <ul class="nav navmenu-nav" du-spy-context>
                        <li class="endpoint api-endpoint-link"
                            du-scrollspy="{{detail.tag}}"
                            id="{{guide.stateLink.params.guideID + '_' + detail.tag}}"
                            ng-repeat="detail in ::guide.anchorTags">
                            <a ng-click="documentation.scroll(section.activeSection, guide.stateLink.params.guideID, detail.tag)">{{detail.name}}</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </ul>
</nav>
