<div class="oc-banner-full-width oc-radically-io-bg  oc-flex-layout vertical center-center">
  <div class="container text-center">
    <i class="fa fa-plug fa-2x"></i>
    <h1>Integration Services</h1>
    <p class="lead">Get started with the OrderCloud.io standard integrations.</p>
  </div>
</div>
<div class="container">
  <article>
    <div class="oc-toc docs-toc">
      <div class="toc-block" ng-repeat="section in ::documentation.navSections | filter: { type: 'Integration Services' }:true">
        <div class="row">
          <div class="col-md-4">
            <h2 class="toc-block-title">{{section.name}}</h2>
          </div>
          <div class="col-md-8">
            <ul>
              <li ng-repeat="guide in ::documentation.navResources | filter: { section: section.name }:true">
                <a ui-sref="integration-services(guide.stateLink.params)">
                  <h3>{{guide.name}}</h3>
                  <small>{{guide.summary}}</small>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>