<!--Use Case Guides Navmenu-->
<aside class="navmenu navmenu-default navmenu-fixed-left hidden-xs guides__navmenu" 
        ng-if="documentation.activeGuide && documentation.activeSection"  
        ng-include="'documentation/use-case-guides/templates/use-case-guides-nav.tpl.html'"></aside>
<!--Use Case Guides Mobile Nav-->
<nav class="docs-nav-mobile"
     ng-if="documentation.activeGuide && documentation.activeSection"
     ng-include="'/documentation/templates/docs-nav-selector.html'"></nav>
<!--Use Case Guides Page-->
<main ng-if="documentation.activeGuide && documentation.activeSection">
    <!--Use Case Guides Content-->
    <article class="documentation__guide">
        <header class="l-page-header">
            <div class="l-page-header__content">
                <oc-guide-header ng-if="documentation.activeGuide && documentation.activeSection" selected-guide="documentation.selectedGuide"></oc-guide-header>
            </div>
        </header>
        <div class="l-page-section" ng-if="!documentation.notFound">
            <div class="l-page-section__content">
                <div ng-include="'documentation/use-case-guides/' + documentation.activeSection + '/templates/' + documentation.activeGuide + '.tpl.html';"></div>
                <div ng-include="'documentation/templates/guides-conclusion-template.tpl.html'"></div>
                <next-guide-btn ng-if="documentation.activeGuide && documentation.activeSection" resources="documentation.navResources" section="documentation.activeSection" guide="documentation.activeGuide"></next-guide-btn>
            </div>
        </div>
        <div class="l-page-section" ng-if="documentation.notFound">
            <div ng-include="'documentation/templates/not-found.tpl.html'"></div>
        </div>
    </article>
</main>
<!--Use Case Guides Landing Page-->
<main ng-if="!(documentation.activeGuide && documentation.activeSection)"
     ng-include="'/documentation/use-case-guides/templates/use-case-guides-landing-page.tpl.html'"></main>
